.wrapper {
    min-width: 100px;
    height: 100%;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 4px;
}

.primary {
    background-color: rgba(254, 44, 85, 1);
    color: #fff;
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.upload {
    border: 1px solid rgba(var(--primary-color), 0.12);
    border-radius: 2px;
    background-color: #fff;
    &:hover {
        background-color: rgba(var(--primary-color), 0.03);
    }
}
